<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.drawablesexample">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                ivate lateinit var constraintLayout: ConstraintLayout

                override fun onCreate(savedInstanceState: Bundle?) {
                super.onCreate(savedInstanceState)

                // Instantiate an ImageView and define its properties
                val i = ImageView(this).apply {
                setImageResource(R.drawable.my_image)
                contentDescription = resources.getString(R.string.my_image_desc)

                // set the ImageView bounds to match the Drawable's dimensions
                adjustViewBounds = true
                layoutParams = ViewGroup.LayoutParams(
                ViewGroup.LayoutParams.WRAP_CONTENT,
                ViewGroup.LayoutParams.WRAP_CONTENT)
                }

                // Create a ConstraintLayout in which to add the ImageView
                constraintLayout = ConstraintLayout(this).apply {

                // Add the ImageView to the layout.
                addView(i)
                }

                // Set the layout as the content view.
                setContentView(constraintLayout)
                }
                <Button android:id="@+id/tiny"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_alignParentTop="true"
                    android:layout_centerInParent="true"
                    android:text="Tiny"
                    android:textSize="8sp"
                    android:background="@drawable/my_button_background"/>

                <Button android:id="@+id/big"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_alignParentBottom="true"
                    android:layout_centerInParent="true"
                    android:text="Biiiiiiig text!"
                    android:textSize="30sp"
                    android:background="@drawable/my_button_background"/>
            </intent-filter>
        </activity>
    </application>

</manifest>